html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #596275;
  color: #222;
  background-color: #ea8685;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 60px);
}
main.offline {
  flex-direction: column;
  justify-content: center;
}
.header {
  background-color: #e66767;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #222;
  margin: 0;
}
.boton {
  border: 5px solid transparent;
  border-radius: 50%;
  transition: all 0.8s;
}
.ganador {
  border: 5px solid #303952;
}
.animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}
